/* HTML */

body{
  border-style: solid;
  border-color: blue;
}

/** {
    box-sizing: border-box
}*/

/*
<= 600px	Mobile Devices
> 600px	Tablet Devices
> 992px	Desktop Devices
*/

@media screen and (min-width: 640px) {

  /* Classes */

    body {
      background-color: lightgreen;
    }

    .info{
      float: left;
      background-color: cyan;
      height: 270px;
      width: 68%;
      padding:0 1%;
      overflow: scroll;
    }

    .picture {
      float: left;
      height: 250px;
      width: 28%;
      padding:0 1%
    }

    .buttons{
      clear: left;
      text-align: center;

    }
    .btn{
      display: inline-block;
      margin: 10px;
    }

}

@media screen and (max-width: 639px) {

    body {
      background-color: red;
    }

    .info{
      float: left;
      background-color: cyan;
      height: 270px;
      width: 98%;
      padding: 1% 1%;
      overflow: scroll;
    }
    .btn button{
      width: 100%;
    }

    .picture{
      float: left;
      width: 98%;
      padding: 1% 1%;
    }

}
