/* HTML */

body{
  border-style: solid;
  border-color: blue;
}

/* Classes */
.content{
  padding: 10px;
}

.info{
  float: left;
  background-color: cyan;
  width: 70%;
  height: 270px;
}

.picture {
  float: left;
  max-height: 250px;
  width: auto;

}

.buttons{
  clear: left;
  text-align: center;

}
.btn{
  display: inline-block;
}
