/* HTML */

body{
  border-style: solid;
  border-color: blue;
}


@media screen and (min-width: 640px) {

    .info{
      float: left;
      background-color: cyan;
      height: 270px;
      width: 68%;
      padding:0 1%;
      overflow: scroll;
    }

    .picture img {
      float: left;
      height: 250px;
      width: 28%;
      padding:0 1%;
      display: block;
      padding-top: 10px;
    }

    .buttons{
      clear: left;
      text-align: center;

    }
    .btn{
      display: inline-block;
      margin: 10px;
    }

}

@media screen and (max-width: 639px) {

    body {
      background-color: red;
    }

    .info{
      float: right;
      background-color: cyan;
      height: 270px;
      width: 98%;
      padding: 1% 1%;
      overflow: scroll;
      order: 2;
    }
    .btn button{
      width: 100%;
    }

    .content{
      display: flex;
      flex-direction: column;

    }
    .picture{
      float: left;
      width: 98%;
      padding: 1% 1%;
    }

}
