<!DOCTYPE html>
<html>
<head>
  <title>
      <%= (title ? title : "CSCI2720 Project") %>
  </title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
  <div id=head>
    <!-- HTML code for header, including navigation bar, goes here -->
    <ol>
      <li><a href="/login">Login</a></li>
      <li><a href="/listItems">List Items</a></li>
      <li><a href="/listItems2">List Items (Server-side version)</a></li>
    </ol>
  </div>
