<%- include header.ejs %>

  <div id=content>
      <h5>Place holder for showing an item in details</h5>

      <pre>
        <%=locals.data%>
      </pre>
  </div>

<%- include footer.ejs %>
