<!DOCTYPE html>
<html>
<head>
  <title><!-- Page specific title --></title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
  <div id=head>
    <!-- HTML code for header, including navigation bar, goes here -->
    <ol>
      <li><a href="/login">Login</a></li>
      <li><a href="/listItems">List Items</a></li>
    </ol>

  </div>

  <div id=content>
    <!-- Content of this element should be page specific -->
  </div>

  <div id=footer>
    <!-- HTML code for footer (if any) goes here -->
  </div>
</body>
</html>

<script>
// Either write JS code directly in this file or use
// src="..." to load the JS code from an external file.
$(document).ready(function() {
  // Code to render the content in div#content

});

</script>
